body{
  overflow:hidden;
}

.Title{
  font-size:6em;
}
.frame {
  display:grid;
  grid-template-rows:1fr 5fr;
  text-align:center;
}
.skeleton {
  position:relative;
  display: grid;
  grid-template-columns: 5fr 1.5fr;
  gap: 10px;
  height:75vh;
  overflow:hidden;
  padding-top:20px;
  padding-bottom:40px;
  padding-left:20px;
  padding-right:20px;
}
/* ul li::before {
  content: "✅";
  display: inline-block;
  margin-right: 0.2rem;
} */
.sidebar{
  position:relative;
  border:solid;
  background-color:blue;
  border-radius:25px 0px 0px 25px;
  left:30px;
  color:white;
  font-size:1.7em;
  overflow-y:scroll;
}
.wrapper {
  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    text-align:center;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
    overflow-y:scroll;
    
  }
.wrapper label {
  display: inline-block;
  text-align:center;
  width:100%;
  height:100%;
  background: rgb(13, 12, 11);
  cursor: pointer;
}
.wrapper label p{
  color:white;
  font-weight:bold;
}

.wrapper input[type="checkbox"]:checked+label{
  background-color:green;
  opacity:50%;
  }
.wrapper input[type="checkbox"]:checked+label p{
 color:white;
  
}
.wrapper input[type="checkbox"]{
  display:none;
}
.wrapper p{
  position:relative;
  top:50px;
  font-size:20px;
}
.item{
  border-style:solid;
  border-radius:5%;
  height:180px;
}